@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
  --background-color: rgba(87, 90, 93, 0.678);
  --white: rgb(209, 228, 241);
}


#footer {
  display: flex;
  justify-content: center;
  color: var(--background-color);
  font-style: italic;
  font-family: "Helvetica Neue", sans-serif;
}
